@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Gerar Horários";
    Layout= "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header>
    <div class="header-title-container pad-left">
        <h1 class="header-title">Gerar horários</h1>
    </div>
    <button class="add-container pad-right bnt-modal">
        <img class="add-icon" src="~/img/icons/add.svg" alt="add">
        <span class="add-title">Gerar</span>
    </button>
</header>
<section class="table-carousel-container">
    @* @if (ViewBag.hasHorarios == false)
    {
        <div class="table">
            <span class="msg-table">Nenhum horário gerado</span>
        </div>
    }
    else
    { *@
        <button type="button" class="arrow-left control">
            <img src="~/img/icons/arrow-left-2.svg" alt="arrow-left">
        </button>
        <button type="button" class="arrow-right control">
            <img src="~/img/icons/arrow-right-3.svg" alt="arrow-right">
        </button>
        <div class="table-wrapper">
            <div class="table-carousel">
                <img src="https://source.unsplash.com/random/1180x750/?beach" alt="example" class="grid-table current-grid-table">
                <img src="https://source.unsplash.com/random/1180x750/?animal" alt="example" class="grid-table">
                <img src="https://source.unsplash.com/random/1180x750/?landscape" alt="example" class="grid-table">
                <img src="https://source.unsplash.com/random/1180x750/?city" alt="example" class="grid-table">
            </div>
        </div>
    @* } *@
</section>
<footer>
    <button class="btn btn-white-outline">
        <span class="btn-span">Download</span>
        <img class="icon-arrow-right" src="~/img/icons/arrow-right-2.svg" alt="">
    </button>
    <input class="btn" type="button" value="Enviar">
</footer>

@section Scripts{
    <script src="~/js/table-carousel.js"></script>
}