@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Professores";
    Layout= "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header>
    <div class="header-title-container pad-left">
        <h1 class="header-title">Professores cadastrados</h1>
    </div>
    <a href="admin-professores-add.html" class="add-container pad-right">
        <img class="add-icon" src="~/img/icons/add.svg" alt="add">
        <span class="add-title">Adicionar</span>
    </a>
</header>
<section class="table-container">
    <div class="table">
        <span class="msg-table hide">Nenhum professor cadastrado</span>
        <div class="teacher-container" id="">
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">José Gallo Junior</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Mostrar mais">
                </div>
            </a>
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">Márcio de Moraes</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Show More">
                </div>
            </a>
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">Edriano Campana</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Show More">
                </div>
            </a>
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">Ronan Zenatti</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Show More">
                </div>
            </a>
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">Sérgio Lacerda</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Show More">
                </div>
            </a>
        </div>
    </div>
</section>
<section class="modal hide">
    <form method="post" class="form-add">
        <h1 class="title-modal">Adicionar Professor</h1>
        <div class="field-container">
            <div class="field-modal">
                <label for="">Nome</label>
                <input class="inp-modal" type="text" name="" id="" placeholder="Nome">
            </div>
            <div class="field-modal">
                <label for="">Email</label>
                <input class="inp-modal" type="text" name="" id="" placeholder="Email">
            </div>
        </div>
        <button class="btn btn-modal">Adicionar</button>
    </form>
</section>