@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Professores";
    Layout= "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header>
    <div class="header-title-container pad-left">
        <h1 class="header-title">Professores cadastrados</h1>
    </div>
    <button href="admin-professores-add.html" class="add-container pad-right btn-modal">
        <img class="add-icon" src="~/img/icons/add.svg" alt="add">
        <span class="add-title">Adicionar</span>
    </button>
</header>
<section class="table-container">
    <div class="table">
        <span class="msg-table hide">Nenhum professor cadastrado</span>
        <div class="teacher-container" id="">
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">José Gallo Junior</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Mostrar mais">
                </div>
            </a>
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">Márcio de Moraes</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Show More">
                </div>
            </a>
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">Edriano Campana</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Show More">
                </div>
            </a>
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">Ronan Zenatti</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Show More">
                </div>
            </a>
            <a href="javascript:void(0)" class="teacher">
                <div class="teacher-btn">
                    <span class="teacher-name">Sérgio Lacerda</span>
                    <img class="arrow-icon" src="~/img/icons/arrow-down.svg" alt="Show More">
                </div>
            </a>
        </div>
    </div>
</section>
<section class="modal">
    <div class="form-modal">
        <div class="title-modal-container">
            <h1 class="title-modal">Adicionar Professor</h1>
            <button class="close-modal">
                <img src="~/img/icons/close-rounded.svg" alt="Close">
            </button>
        </div>
        <form method="post" class="field-container">
            <div class="field-modal">
                <label for="name">Nome Completo</label>
                <input class="inp-modal" type="text" id="name" placeholder="Nome">
            </div>
            <div class="field-modal">
                <label for="email">E-mail</label>
                <input class="inp-modal" type="email" id="email" placeholder="Email">
            </div>
            <div class="field-modal">
                <label for="select-modal">Matérias</label>
                <input type="text" class="select-modal" id="select-modal" placeholder="Selecione as Matérias">
                <div class="dropdown-select">
                    <div class="list-dropdown-select">
                        <div class="item-select-container">
                            <input class="check-select" type="checkbox" id="item-select-0">
                            <label for="item-select-0" class="item-select" id="items-0" onmousedown="category(0)">Matemática</label>
                        </div>
                        <div class="item-select-container">
                            <input class="check-select" type="checkbox" id="item-select-1">
                            <label for="item-select-1" class="item-select" id="items-1" onmousedown="category(1)">Física</label>
                        </div>
                        <div class="item-select-container">
                            <input class="check-select" type="checkbox" id="item-select-2">
                            <label for="item-select-2" class="item-select" id="items-2" onmousedown="category(2)">Português</label>
                        </div>
                        <div class="item-select-container">
                            <input class="check-select" type="checkbox" id="item-select-3">
                            <label for="item-select-3" class="item-select" id="items-3" onmousedown="category(3)">Biologia</label>
                        </div>
                        <div class="item-select-container">
                            <input class="check-select" type="checkbox" id="item-select-4">
                            <label for="item-select-4" class="item-select" id="items-4" onmousedown="category(4)">História</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-modal">Adicionar</button>
        </form>
    </div>
</section>

@section Scripts{
    <script src="~/js/modal.js"></script>
    <script src="~/js/multi-select.js"></script>
}