<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/admin-materias/style.css" />
    <title>Admin</title>
  </head>
  <body>
    <main>
      <section class="nav-side">
        <a href=""><img src="" alt="" /></a>
        <nav>
          <a href="#" class="nav-item">
            <img src="" alt="" />
            <h1 class="item-title">Matérias</h1>
          </a>
          <a href="#" class="nav-item">
            <img src="" alt="" />
            <h1 class="item-title">Professores</h1>
          </a>
          <a href="#" class="nav-item">
            <img src="" alt="" />
            <h1 class="item-title">Gerar Horários</h1>
          </a>
        </nav>
      </section>
      <header>
        <h1>Matérias já cadastradas</h1>
        <a href="#">
          <img src="" alt="plus">
          <p>Adicionar</p>
        </a>
      </header>
      <section>
        <p>Nenhuma matéria cadastrada</p>
      </section>
    </main>
  </body>
</html>
