<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin-professores-add/style.css">
    <title>Admin</title>
</head>
<body>
    <section class="nav-side border-radious-nav">
        <div class="logo-container">
          <a href="#" class="logo">
            <img src="img/logo/aion-white.png" alt="Aion Logo" />
          </a>
        </div>
        <nav>
          <a href="#" class="nav-item-container nav-item" id="selected">
            <img class="item-icon" src="img/icons/notebook-32-filled.svg" alt="Matérias" />
            <span class="item-title">Matérias</span>
          </a>
          <a href="#" class="nav-item-container nav-item">
            <img class="item-icon" src="img/icons/person.svg" alt="Professores" />
            <span class="item-title">Professores</span>
          </a>
          <a href="#" class="nav-item-container nav-item">
            <img class="item-icon" src="img/icons/nest-clock-farsight-analog-rounded.svg" alt="Horários" />
            <span class="item-title">Gerar Horários</span>
          </a>
          <a href="#" class="nav-item-container nav-item">
            <img class="item-icon" src="img/icons/settings.svg" alt="Configurações" />
            <span class="item-title">Configurações</span>
          </a>
        </nav>
        <a href="#" class="btn-logout-container">
          <img class="logout-icon" src="img/icons/leave.svg" alt="Sair">
          <input class="btn-logout" type="button" value="Sair da Conta">
        </a>
      </section>
      <main>
        <header>
          <div class="header-title-container pad-left">
            <h1 class="header-title">Adicionar Professor</h1>
          </div>
        </header>
        <section class="add pad-left">
            <div class="professor-container">
                <span class="professor-title">Novo Professor</span>
                <input class="professor-field" placeholder="Nome" type="text">
            </div>
            <div class="professor-container">
                <span class="professor-title">E-mail do Professor</span>
                <input class="professor-field" placeholder="E-mail" type="text">
            </div>
            <a href="#" class="select">
                <div class="select-container">
                    <span class="select-title">Selecionar Matérias</span>
                    <img class="icon-arrow-down" src="img/icons/baseline-keyboard-arrow-down.svg" alt="Mostrar Mais">
                </div>
            </a>
            <input class="add-btn" type="button" value="Adicionar">
        </section>
      </main>
</body>
</html>