<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/admin-materias/style.css" />
    <title>Admin</title>
  </head>
  <body>
    <main>
      <section class="nav-side">
        <a href="#">
          <img src="" alt="" />
        </a>
        <nav>
          <div class="nav-item-container">
            <a href="#" class="nav-item">
              <img src="img/icons/notebook-32-filled.svg" alt="" />
              <p class="item-title">Matérias</p>
            </a>
          </div>
          <div class="nav-item-container">
            <a href="#" class="nav-item">
              <img src="img/icons/person.svg" alt="" />
              <p class="item-title">Professores</p>
            </a>
          </div>
          <div class="nav-item-container">
            <a href="#" class="nav-item">
              <img src="img/icons/nest-clock-farsight-analog-rounded.svg" alt="" />
              <p class="item-title">Gerar Horários</p>
            </a>
          </div>
        </nav>
        <div class="btn-logout-container">
          <img src="" alt="Sair">
          <input class="btn-logout" type="button" value="Sair da Conta">
        </div>
      </section>
      <header>
        <h1>Matérias já cadastradas</h1>
        <a href="#">
          <img src="" alt="plus">
          <p>Adicionar</p>
        </a>
      </header>
      <section>
        <p>Nenhuma matéria cadastrada</p>
      </section>
    </main>
  </body>
</html>
