<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing-page/style.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="css/landing-page/mobile.css">
    <title>Aion</title>
</head>
<body>
    <header>
        <nav id="nav" class="navbar-items">
            <a href="javascript:void(0)" class="logo-nav">
                <img src="img/logo/aion-black.png" alt="Aion logo">
            </a>
            <button id="menu-btn">Menu</button>
            <ul class="navbar-ul">
                <li><a class="a-items" href="javascript:void(0)">Home</a></li>
                <li><a class="a-items" href="javascript:void(0)">Sobre</a></li>
                <li><a class="a-items" href="javascript:void(0)">Privacidade</a></li>
                <li><a class="a-items" href="javascript:void(0)">Planos</a></li>
            </ul>
            <button class="button-nav">Login</button>
        </nav>
    </header>

    <main>
        <section class="land-section1">
            <div class="land-section1-div1">
                <h1 class="land-title">Uma solução simples para seus horários escolares!</h1>
                <p class="land-subtitle">Feito especialmente para instituições que visam um<br>horário mais conveniente para professores e<br>alunos. Sem dores de cabeça nem perdas de<br>tempo</p>
            </div>
            <div class="land-section1-div2">
                <img class="land-img1" src="img/section1/union.jpg" alt="Foto 1">
                <div class="land-section1-img">
                    <img class="land-img2" src="img/section1/notebook.jpg" alt="Foto 2">
                    <img class="land-img3" src="img/section1/classroom.jpg" alt="Foto 3">
                </div>
            </div>
        </section>

        <section class="land-section2">
            <div class="land-section2-div1">
                <img class="land-img4" src="img/section2/working.jpg" alt="Foto 4">
                <img class="land-img5" src="img/section2/teacher.jpg" alt="Foto 5">
            </div>
            <div class="land-section2-div2">
                <h1 class="land-title2">Como funciona?</h1>
                <p class="land-subtitle2">Depois dos professores cadastrarem seu melhor horário e dias disponíveis. <br> O administrador irá apenas apertar o botão para gerar o horário completo!</p>
                <a class="land-button">Ver planos</a>
            </div>
        </section>

        <section class="land-section3">
            <h1 class="land-title3">Vantagens</h1>
            <div class="land-section3-divs">
                <div class="land-section3-div">
                    <img class="land-section3-icons" src="img/icons/idea.svg" alt="">
                    <h1 class="land-section3-div-title">Algoritimo inteligente</h1>
                    <p class="land-section3-div-subtitle">Nosso algoritimo sabe qaul o melhor horário para professores e alunos.</p>
                </div>
                <div class="land-section3-div">
                    <img class="land-section3-icons" src="img/icons/laptop.svg" alt="">
                    <h1 class="land-section3-div-title">Interface intuitiva</h1>
                    <p class="land-section3-div-subtitle">Aion tem uma interface simples, intuitiva, e adaptada para todos os tipos de dispositivos.</p>
                </div>
                <div class="land-section3-div">
                    <img class="land-section3-icons" src="img/icons/target.svg" alt="">
                    <h1 class="land-section3-div-title">Melhores planos</h1>
                    <p class="land-section3-div-subtitle">Planos para melhor atender quaisquer necessidades, com os melhores preços.</p>
                </div>
            </div>
        </section>

        <section class="land-section4">
            <div class="land-section4-div">
                <h1 class="land-title4">Crie o melhor Horário com Aion</h1>
                <h2 class="land-subtitle4">Planos Gratuitos | Não é necessário cartão de crédito</h2>
                <button class="land-button2">Começar<img class="arrow-right" src="img/icons/arrow-right-alt-rounded.svg"></button>
            </div>
        </section>
    </main>

    <footer>
        <div class="land-footer">
            <div class="land-footers">
                <h1 class="footer-title">Mapa do site</h1>
                <div class="land-footer1">
                    <a href="javascript:void(0)">Cadastro</a>
                    <a href="javascript:void(0)">Login</a>
                    <a href="javascript:void(0)">Sobre</a>
                    <a href="javascript:void(0)">Planos</a>
                    <a href="javascript:void(0)">Admin</a>
                </div>
            </div>
            <div class="land-footers">
                <h1 class="footer-title">Precisa de suporte?</h1>
                <div class="land-footer2">
                    <a href="javascript:void(0)">Fale conosco</a>
                    <a href="javascript:void(0)">Email</a>
                    <a href="javascript:void(0)">Telefone</a>
                </div>
            </div>
            <div class="land-footers">
                <h1 class="footer-title">Redes Sociais</h1>
                <div  class="land-footer3">
                    <a href="javascript:void(0)">
                        <img src="img/icons/instagram.svg" alt="Instagram">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/icons/twitter-line.svg" alt="Twitter">
                    </a>
                    <a href="javascript:void(0)">
                        <img src="img/icons/facebook-circle-line.svg" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>
        <div class="land-footer-copy">
            <p class="copyright">Copyright© 2022 Aion. Todos os direitos reservados </p>
        </div>
    </footer>

    <div data-scroll="suave" data-anima="scroll">
        <a href="#topo">
            <div class="land-button-top">
                <img class="arrow-top" src="img/icons/arrow-forward-ios-rounded.svg">
            </div>
        </a>
    </div>

    <div class="w-button">
        <a href="https://whatsapp.com" target="_blank">
            <img src="img/icons/whatsapp-icon.svg" alt="WhatsApp Logo">
        </a>
    </div>


    <script src="js/scroll-animation.js"></script>
    <script src="js/scroll-suave.js"></script>
    <script src="js/menu-mobile.js"></script>
</body>
</html>