<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login/style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <nav id="nav" class="navbar-items">
            <a href="javascript:void(0)" class="logo-nav">
                <img src="img/logo/aion-white.png" alt="Aion logo">
            </a>
            <button id="menu-btn">Menu</button>
            <ul class="navbar-ul">
                <li><a class="a-items" href="javascript:void(0)">Home</a></li>
                <li><a class="a-items" href="javascript:void(0)">Sobre</a></li>
                <li><a class="a-items" href="javascript:void(0)">Privacidade</a></li>
                <li><a class="a-items" href="javascript:void(0)">Planos</a></li>
            </ul>
            <button class="button-nav">Login</button>
        </nav>
    </header>
    <main>
        <section class="sec-1">
            <img class="logo" src="img/logo/aion-white-logo.png" alt="Aion Logo">
            <h1 class="title">Organize seus Horários escolares da <strong>melhor</strong> maneira.</h1>
        </section>
        <section class="sec-2">
            <div class="login-field">
                <div class="title-login">
                    <h1>Bem-vindo</h1>
                </div>
                <h1>Faça Login</h1>
                <div class="username">
                    <p>Username</p>
                    <input type="text">
                </div>
                <div>
                    <p>Senha</p>
                    <input type="text">
                </div>
                <p>Esqueceu a senha?</p>
                <input type="button" value="Login">
                <div class="line"></div>
                <p>Não possui um cadastro?</p>
            </div>
        </section>
    </main>
</body>
</html>