<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/planos/style.css">
    <title>Planos</title>
</head>
<body>
    <header>
        <nav id="nav" class="navbar-items">
            <a href="javascript:void(0)" class="logo-nav">
                <img src="img/logo/aion-black.png" alt="Aion logo">
            </a>
            <button id="menu-btn">Menu</button>
            <ul class="navbar-ul">
                <li><a class="a-items" href="javascript:void(0)">Home</a></li>
                <li><a class="a-items" href="javascript:void(0)">Sobre</a></li>
                <li><a class="a-items" href="javascript:void(0)">Privacidade</a></li>
                <li><a class="a-items" href="javascript:void(0)">Planos</a></li>
            </ul>
            <button class="button-nav">Login</button>
        </nav>
    </header>

    <main>
        <h1>Os Planos São Cobrados Anualmente</h1>
        <section>
            <div class="card card-gratis">
                <div class="div1">
                    <h1 class="title">Básico</h1>
                    <img class="line" src="img/icons/planos-line.jpg" alt="linha">
                </div>
                <div class="div2">
                    <ul class="list">
                        <li>Plano <strong>Gratuito</strong></li>
                        <li>Tenha 1 grade de horários</li>
                        <li>Turnos Ilimitados</li>
                        <li>Professores Ilimiados</li>
                        <li>Reduza os dias de trabalho</li>
                        <li>Evite aulas de uma disciplina em dias consecutivos</li>
                    </ul>
                    <div class="price">
                        <h1>Grátis</h1>
                        <p>Por tempo ilimitado</p>
                    </div>
                    <div class="input-container">
                        <input class="btn btn-gratis" type="button" value="Comece Agora">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="div1">
                    <h1 class="title">Avançado</h1>
                    <img class="line" src="img/icons/planos-line-arrow.png" alt="linha">
                </div>
                <div class="div2">
                    <ul class="list">
                        <li><strong>Tudo do Básico e mais:</strong></li>
                        <li>Tenha 3 grades de horários</li>
                        <li>Comparação entre as grades de resultados </li>
                        <li>Reduza as janelas de aulas</li>
                        <li>Tenha quantas turmas quiser</li>
                        <li>Compartilhe aulas em um local</li>
                    </ul>
                    <div class="price">
                        <h1>R$0,99/mês</h1>
                        <p>por turma</p>
                    </div>
                    <div class="input-container">
                        <input class="btn" type="button" value="Adquirir">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="div1">
                    <h1 class="title title-premium">Premium</h1>
                    <img class="line" src="img/icons/planos-line-arrow.png" alt="linha">
                </div>
                <div class="div2">
                    <ul class="list">
                        <li><strong>Tudo do avançado e mais:</strong></li>
                        <li>Grades ilimitadas</li>
                        <li>Compartilhe aulas entre turmas</li>
                        <li>Otimize mais de uma grade simultaneamente</li>
                        <li>Importe seus dados e exporte em Planilhas</li>
                    </ul>
                    <div class="price">
                        <h1>R$4,99/mês</h1>
                        <p>por turma</p>
                    </div>
                    <div class="input-container">
                        <input class="btn" type="button" value="Adquirir">
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    
</body>
</html>