<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/professores-reg-dados/style.css" />
    <title>Registrar Dados</title>
</head>

<body>
    <section class="nav-side border-radious-nav">
        <div class="logo-container">
            <a href="#" class="logo">
                <img src="img/logo/aion-white.png" alt="Aion Logo" />
            </a>
        </div>
        <nav>
            <a href="#" class="nav-item-container nav-item">
                <img class="item-icon" src="img/icons/round-home.svg" alt="Home" />
                <span class="item-title">Home</span>
            </a>
            <a href="#" class="nav-item-container nav-item" id="selected">
                <img class="item-icon" src="img/icons/nest-clock-farsight-analog-rounded.svg" alt="Registrar Dados" />
                <span class="item-title">Registrar Dados</span>
            </a>
            <a href="#" class="nav-item-container nav-item">
                <img class="item-icon" src="img/icons/check-all-white.svg" alt="Horário Final" />
                <span class="item-title">Horário Final</span>
            </a>
            <a href="#" class="nav-item-container nav-item">
                <img class="item-icon" src="img/icons/settings.svg" alt="Configurações" />
                <span class="item-title">Configurações</span>
            </a>
        </nav>
        <a href="#" class="btn-logout-container">
            <img class="logout-icon" src="img/icons/leave.svg" alt="Sair">
            <span class="btn-logout">Sair da conta</span>
        </a>
    </section>
    <main>
        <header>
            <a href="#" class="user-container">
                <span id="username">Usuário</span>
                <img class="user-arrow" src="img/icons/baseline-keyboard-arrow-down-purple.svg" alt="Mostrar Mais">
                <img class="user-picture" src="img/icons/profile.svg" alt="Perfil">
            </a>
        </header>
        <section class="progress-bar-container">
            <div class="progress-bar">
                <div class="progress prog-1" id="done"></div>
                <div class="progress" id=""></div>
                <div class="progress prog-3" id=""></div>
            </div>
        </section>
        <section class="container">
            <div class="question-container">
                <h1 class="question-title">Qual o melhor horário para você?</h1>
                <a href="#" class="select">
                    <div class="select-container">
                        <span class="select-title">Selecionar horário</span>
                        <img class="icon-arrow-down" src="img/icons/baseline-keyboard-arrow-down.svg" alt="Mostrar Mais">
                    </div>
                </a>
            </div>
            <div class="btn-container">
                <div class="btn-prev-container">
                    <a href="professores-reg-dados-1.html" class="btn-prev-a" id="">
                        <img class="prev-icon" src="img/icons/arrow-back-ios-new-rounded.svg" alt="Voltar">
                        <span class="btn-prev" id="">Voltar</span>
                    </a>
                </div>
                <a href="professores-reg-dados-3.html" class="btn-next center">Avançar</a>
            </div>
        </section>
    </main>
</body>

</html>