<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/professores-reg-dados/style.css" />
    <title>Registrar Dados</title>
</head>

<body>
    <section class="nav-side border-radious-nav">
        <div class="logo-container">
            <a href="#" class="logo">
                <img src="img/logo/aion-white.png" alt="Aion Logo" />
            </a>
        </div>
        <nav>
            <a href="#" class="nav-item-container nav-item" id="selected">
                <img class="item-icon" src="img/icons/round-home.svg" alt="Home" />
                <span class="item-title">Home</span>
            </a>
            <a href="#" class="nav-item-container nav-item">
                <img class="item-icon" src="img/icons/clock-icon.svg" alt="Registrar Dados" />
                <span class="item-title">Registrar Dados</span>
            </a>
            <a href="#" class="nav-item-container nav-item">
                <img class="item-icon" src="img/icons/check-white.svg" alt="Horário Final" />
                <span class="item-title">Horário Final</span>
            </a>
            <a href="#" class="nav-item-container nav-item">
                <img class="item-icon" src="img/icons/settings.svg" alt="Configurações" />
                <span class="item-title">Configurações</span>
            </a>
        </nav>
        <a href="#" class="btn-logout-container">
            <img class="logout-icon" src="img/icons/leave.svg" alt="Sair">
            <span class="btn-logout">Sair da conta</span>
        </a>
    </section>
    <main>
        <section class="success-page">
            <div class="success-container">
                <img class="success-icon" src="img/icons/check-circle-thin.svg" alt="Sucesso">
                <h1 class="success-title">Seus dados foram registrados <br> com sucesso!</h1>
            </div>
            <a href="landing-page.html" class="btn-next btn-align">Concluir</a>
        </section>
    </main>
</body>

</html>