@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*
{
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    outline: none;
}

html, body
{
    font-size: 100%;
    scroll-behavior: smooth;
    height: 100%;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 12px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 15px;
}

/* Admin-Materias */

main
{
    display: flex;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.nav-side
{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background-color: red;
}

nav
{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav-item-container
{
    display: flex;
}

.nav-item
{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.nav-item > img
{
    width: 20%;
}

.item-title
{
    background-color: green;
}

/* Main */
