@* @{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Registrar Dados";
    Layout= "~/Views/Shared/_LayoutProfessor.cshtml";
}

<section class="progress-bar-container">
    <div class="progress-bar">
        <div class="progress prog-left done"></div>
        <div class="progress done"></div>
        <div class="progress prog-right"></div>
    </div>
</section>
<form method="post" class="section-main">
    <div class="question-container">
        <h1 class="reg-title">Quais são seus horários disponíveis?</h1>
        <input type="text" name="weekDay" value="@ViewBag.Days">
    </div>
    <div class="btn-container">
        <div class="btn-prev-container">
            <a asp-action="RegDados" class="btn-prev-a">
                <img class="prev-icon" src="../../img/icons/arrow-left.svg" alt="Voltar">
                <span class="btn-prev">Voltar</span>
            </a>
        </div>
        <button type="submit" class="btn btn-medium center">Avançar</button>
    </div>
</form> *@