@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Registrar Dados";
    Layout= "~/Views/Shared/_LayoutProfessor.cshtml";
}

<section class="progress-bar-container">
    <div class="progress-bar">
        <div class="progress prog-left done"></div>
        <div class="progress done"></div>
        <div class="progress prog-right"></div>
    </div>
</section>
<form method="post" class="section-main">
    <div class="question-container">
        <h1 class="reg-title">Qual o melhor horário para você?</h1>
        <a href="javascript:void(0)" class="select">
            <div class="select-container">
                <span class="select-title">Selecionar horário</span>
                <img class="icon-arrow-down" src="../../img/icons/arrow-down.svg" alt="Mostrar Mais">
            </div>
        </a>
    </div>
    <div class="btn-container">
        <div class="btn-prev-container">
            <a asp-action="RegDados" class="btn-prev-a">
                <img class="prev-icon" src="../../img/icons/arrow-left.svg" alt="Voltar">
                <span class="btn-prev">Voltar</span>
            </a>
        </div>
        <button type="submit" class="btn btn-medium center">Avançar</button>
    </div>
</form>