@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="logo-container">
    <img class="logo" src="~/img/logo/aion-white-logo.png" alt="Aion Logo" />
    <h1 class="title">
        Organize seus Horários escolares da <strong>melhor</strong> maneira.
    </h1>
</section>
<section class="form-container">
    <form action="#">
        <h1 class="welcome-title">Bem-vindo</h1>
        <div class="login-container">
            <h1 class="title-form">Faça Login</h1>
            <div class="field">
                <input class="inp-field" type="text" name="username" required>
                <label class="form-label" for="username">Usuário</label>
            </div>
            <div class="field">
                <input class="inp-field" type="password" name="password" required>
                <label class="form-label" for="password">Senha</label>
            </div>
            <div class="remember-forgot">
                <div class="remember-container">
                    <input type="checkbox" id="terms" class="inp-checkbox">
                    <label for="terms" class="remember-label">
                        Lembrar
                    </label>
                </div>
                <a href="javascript:void(0)" class="forgot-pass">Esqueceu a senha?</a>
            </div>
        </div>
        <input type="button" value="Login" class="btn" />
        <div class="line"></div>
        <div class="signup-container">
            <a href="signup.html" class="signup">Não possui um cadastro?</a>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
