<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/login-signup/style.css" />
    <title>Aion | Login</title>
</head>

<body>
    <header>
        <nav id="nav" class="navbar-items">
            <a href="../inicio/landing-page.html" class="logo-nav">
                <img src="../../img/logo/aion-white.png" alt="Aion logo" />
            </a>
            <button id="menu-btn">Menu</button>
            <ul class="navbar-ul">
                <li>
                    <a class="a-items" href="../inicio/landing-page.html">Home</a>
                </li>
                <li><a class="a-items" href="../inicio/sobre.html">Sobre</a></li>
                <li><a class="a-items" href="javascript:void(0)">Privacidade</a></li>
                <li><a class="a-items" href="../inicio/planos.html">Planos</a></li>
            </ul>
            <button class="button-nav">Login</button>
        </nav>
    </header>
    <main>
        <section class="sec-1">
            <img class="logo" src="../../img/logo/aion-white-logo.png" alt="Aion Logo" />
            <h1 class="title">
                Organize seus Horários escolares da <strong>melhor</strong> maneira.
            </h1>
        </section>
        <section class="sec-2">
            <form name="login">
                <h1 class="welcome-title">Bem-vindo</h1>
                <div class="container">
                    <h1 class="title-form">Faça Login</h1>
                    <div class="field">
                        <label class="form-label" for="username">Usuário</label>
                        <input class="inp-field" type="text" name="username" />
                    </div>
                    <div class="field">
                        <label class="form-label" for="password">Senha</label>
                        <input class="inp-field" type="password" name="password" />
                    </div>
                    <a href="javascript:void(0)" class="forgot-pass">Esqueceu a senha?</a>
                </div>
                <input type="button" value="Login" class="btn-send" />
                <div class="line"></div>
                <a href="signup.html" class="signup">Não possui um cadastro?</a>
            </form>
        </section>
    </main>
</body>

</html>